.adress {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.adress__name {
  color: var(--third-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  margin-top: 9px;
}
