.hero {
  background-color: var(--main-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.hero__container {
  text-align: center;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 30px;
}
